@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,800italic,400,300,600,700,800');

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
}

#container {
    position: relative; 
}

#content {
    position: relative;
    z-index: 0;
    padding: 6px;
}

#modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: #fff;
    opacity: 0.5;
}

#content-box {
    width:200px;
    height:250px;
    margin:0 auto;
    background: #fff url(ajax-loader.gif) no-repeat 50% 50%;
    position:absolute;
	-webkit-box-shadow:0px 0px 10px #666;
	-moz-box-shadow:0px 0px 10px #666;
	box-shadow:0px 0px 10px #666;
    text-align: center;
    padding: 10px;
    z-index: 11;
    display: none;
}

#content-box #loading-message {
    width:100%;
    margin:0 auto;
    padding-top:165px;
    font-size: 0.7em;
}

#info-thumb {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
}

#info-details {
    font-size: 0.7em;
    line-height: 0.7em;
    text-align: left;
    width: 200px;
    height: 140px;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#info-thumb {
    border: 1px #000 solid;
}

#info-details table {
    font-size: inherit;
}

#info-details table td {
    padding: 2px;
}

#info-details table td.label {
    font-weight: 600;
}

#info-details table td.title-text {
    width: 100%;
    line-height: 1.1em;
}

.thumb {
    width: 145px;
    height: 145px;
    background-size: 145px 145px;
    position: relative;
    display:inline-block;
    cursor:pointer;
    border: 1px #000 solid;
    margin: 2px;
    z-index: 1;
    opacity: 0;
    background-repeat: no-repeat;
}

.unsave-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top:0px;
    right:0px;
    background: url(close.png) no-repeat center center;
    cursor:pointer;
}

.info-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top:0px;
    left:0px;
    background: url(info.png) no-repeat center center;
    cursor:pointer;
}

/*http://stephen.io/mediaqueries/*/
/*iPhone 5 & 5S in landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
    .thumb {
        width: 133px;
        height: 133px;
        background-size: 133px 133px;
    }    
    #content-box {
         width: 300px;
         height: 150px;
    }
    
    #info-thumb {
        display:inline;
        float: left;
        margin: 25px 10px 0 0;
    }
}

/*iPhone 5 & 5S in portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
   /* Smartphone view: 1 tile */
    .thumb {
        width: 148px;
        height: 148px;
        background-size: 148px 148px;
   }
}

@media only screen 
and (min-width: 1650px)
and (max-width: 1889px) {
    .thumb {
        width: 144px;
        height: 144px;
        background-size: 144px 144px;
   }
}